<section>
    <h2><a name="mywork">
        My Work
    </a></h2>

    <div class="projects">
        <div class="project-category">
            <h4>Jobs</h4>
            <div class="project">
                <a href="<%= projectRoutes['thumbtack'] %>">
                    Thumbtack
                </a>
            </div>
            <div class="project">
                <a href="<%= projectRoutes['endless'] %>">
                    Endless
                </a>
            </div>
            <div class="project">
                <a href="<%= projectRoutes['flint'] %>">
                    Flint
                </a>
            </div>
        </div>

        <div class="project-category">
            <h4>macOS</h4>
            <div class="project">
                <a href="<%= projectRoutes['password-manager'] %>">
                    Secure password manager
                </a>
            </div>
            <div class="project">
                <a href="<%= projectRoutes['blur-focus'] %>">
                    BlurFocus
                </a>
            </div>
            <div class="project">
                <a href="<%= projectRoutes['clean-menu-bar'] %>">
                    CleanMenuBar
                </a>
            </div>
        </div>

        <div class="project-category">
            <h4>Apps</h4>
            <div class="project">
                <a href="<%= projectRoutes['cerebrum-app'] %>">
                    Cerebrum (Android)
                </a>
            </div>
            <div class="project">
                <a href="<%= projectRoutes['electrode-app'] %>">
                    Electrode (iOS)
                </a>
            </div>
            <div class="project">
                <a href="<%= projectRoutes['3d-tetris'] %>">
                    3D Tetris (Unity engine)
                </a>
            </div>
        </div>

        <div class="project-category">
            <h4>Design</h4>
            <div class="project">
                <a href="<%= projectRoutes['inbox-prototype'] %>">
                    Google Inbox prototype (Origami)
                </a>
            </div>
            <div class="project">
                <a href="<%= projectRoutes['illustrations'] %>">
                    Vector Illustrations (Sketch)
                </a>
            </div>
            <div class="project">
                <a href="<%= projectRoutes['weather-app'] %>">
                    Weather animations (After Effects)
                </a>
            </div>
        </div>
    </div>
</section>
