{{> header }}

<main>
    <h1>{{title}}</h1>
    {{#if subtitle }}
        <p class="subtitle">{{{subtitle}}}</p>
    {{/if}}

    <section class="content">
        <div {{#if text_right}}class="half-width"{{/if}}>
            {{#if image }}
                <img src="/img/{{image}}" alt="{{image_alt}}">
            {{/if}}
            {{#if video }}
                <div class="iphone-4s-frame">
                    <video width="160" height="240" loop autoplay>
                        <source src="img/{{video}}" type="video/mp4">
                        <img src="img/{{video_fallback}}" alt="{{video_fallback_alt}}">
                    </video>
                </div>
            {{/if}}
            <p>{{{text_left}}}</p>
        </div>
        {{#if text_right }}
            <div class="half-width">
                <p>{{{text_right}}}</p>
            </div>
        {{/if}}
    </section>
</main>

{{> projects-grid }}

{{> footer }}
