{{> header }}

<main>
    <h1>{{title}}</h1>
    {{#if subtitle }}
        <p class="subtitle">{{{subtitle}}}</p>
    {{/if}}

    <section class="content">
        <div {{#if text_right}}class="half-width"{{/if}}>
            {{#if images }}
                {{#each images }}
                    <div class="image">
                        <img src="/img/{{this.file}}" alt="{{this.alt_text}}">
                        {{#if this.caption }}
                            <div class="caption">{{this.caption}}</div>
                        {{/if}}
                    </div>
                {{/each}}
            {{/if}}
            {{#if video }}
                {{#if video_frame }}
                    <div class="iphone-4s-frame">
                        <div class="video-responsive">
                            <video loop autoplay>
                                <source src="img/{{video}}" type="video/mp4">
                                <img src="img/{{video_fallback}}" alt="{{video_fallback_alt}}">
                            </video>
                        </div>
                    </div>
                {{else}}
                    <div class="video-responsive">
                        <video loop autoplay>
                            <source src="img/{{video}}" type="video/mp4">
                            <img src="img/{{video_fallback}}" alt="{{video_fallback_alt}}">
                        </video>
                    </div>
                {{/if}}
            {{/if}}
            {{{text_left}}}
        </div>
        {{#if text_right }}
            <div class="half-width">
                {{{text_right}}}
            </div>
        {{/if}}
    </section>
</main>

{{> projects-grid }}

{{> footer }}
